body {
  display: flex;
  justify-content: center;
  align-items: top;
  text-align: center;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-image: linear-gradient(to bottom right, #34ebc0, #db99f7);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header img {
  position: relative;
  top: 75px;
  right: 80px;
  width: 50px;
  height: 50px;
}

header h1 {
  position: relative;
  top: 5px;
  left: 20px;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 5%;
  background-color: white, 0.5;
  text-align: center;
}

.content {
  position: relative;
  bottom: 50px;
}

button {
  background-color: white;
}

.remove {
  position: relative;
  left: 10px;
  bottom: 1px;
  border-radius: 8px;
  border-width: 0px;
  transition-duration: 0.4s;
}

.remove:hover {
  background-color: red;
  color: white;
}

.add {
  border-radius: 8px;
  border-width: 0px;
  transition-duration: 0.4s;
  padding: 10px;
}

.add:hover {
  background-color: green;
  color: white;
}

.clear {
  border-radius: 8px;
  border-width: 0px;
  transition-duration: 0.4s;
  padding: 10px;
}

.clear:hover {
  background-color: purple;
  color: white;
}

.button-divider {
  width: 5px;
  height: auto;
  display: inline-block;
}
